* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:var(--white);
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: var(--dark) !important;

}

:root {
    --white:white;
    --fontcolor:var(--white)
   --bl:black;
   --dark:#172937;
   --light:#253644;
   --avbg:#FFF7EC;
   --or:#F37021;
   --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
  --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
  --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
  --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);
  --details-heading:#9ba2a8;

}



.mainrow{
    background-color:var(--dark);
   
}
.rightbar{
    background-color: var(--light);
    border-radius: 20px;
    box-shadow: var(--shadow-1);
}
.sidebar{
    box-shadow: var(--shadow-1);
    background-color:var(--light);
    position: relative;
}

.wid-box{
    height: 200px;
   border-radius: 10px;
   box-shadow: var(--shadow-4);
}
.t-box{
    height: 300px;
    border-radius: 10px;
    background-color: var(--dark);
    box-shadow: var(--shadow-4);

}
.t-box img {
    width: 100%;
    height: 120%;
  
}
.wid-section-heading ,.testimonial-heading{

    font-weight: 800;
  
}
.wid-box-heading{
    font-weight: 800;
}
.wid-box{
    background-color: var(--dark);
}
.iframe{
    width: 100%;
    height: 180px;

}
iframe{
    width: 100%;
    height: 117%;
}

.heading-text {
    padding-bottom: 5px;
    font-weight: 800;
  }
  
  .heading-text::after {
    content: "";
    background-color: var(--or);
    display: block;
    margin-top: 10px;
    height: 4px;
    width: 7%;
    border-radius: 10px;
  }
  .heading-text2 {
    font-weight: 600;
  }
.about-me-content{
    color: var(--details-heading);
}


.sidebar{
    border-radius: 15px;
}
.avatar-box{
    background-color: var(--avbg);
    border-radius:35px;
    
  
    
}
.avatar-box img{
   width: 100%;
   height: 100%;
   max-width: 200px;
}

.year-info{
    font-size: 10px;
    background-color: var(--dark);
    border-radius: 20px;
    display:flex !important;
    max-width: 200px !important;
    justify-content:center !important;
    
}

.-iconbox i{
    color: var(--or);
 
}

.bottom-icon i:hover{
    color: var(--details-heading);
}
.details-heading{
    font-size: 15px;
    color: var(--details-heading);
    font-weight: 600;

}
.details-info{
    font-size: 12px;
}

.-iconbox{
    background-color: var(--dark);
    border-radius: 10px;
    width: 50px !important;
    height: 50px !important;
}

.linkedin-img{
   min-height: 170px;
  
}
.linkedin-img img {
    width: 100%;
    height: 210px;
}
.dn2{
    display: none !important;
}


.year-info-1,.name-info-1{
    display: none !important;
}

/* media queries */
@media (max-width:1400px) {
    .sidebar{
        height: auto !important;
        padding-bottom: 15px !important;
    }
    .year-info{
        font-size:12px;
    }
    .avatar-box{
        background-color: var(--avbg);
        border-radius:35px;
        width: 200px !important;
      
        
    }
    .details-info{
        font-size: 20px;
    }
    .bottom-icon{
        width: 50px !important;
    }
    .t-box{
        height: 300px;
        border-radius: 10px;
        background-color: var(--dark);
        box-shadow: var(--shadow-4);
    
    }
    .avatar-box img{
        width: 100%;
        height: 100%;
        max-width: 200px;
     }
.dn{
    display: none !important;
}
.dn2{
    display: block !important;
}
.year-info-1,.name-info-1{
    display: block !important;
}

.newcol{
    display:block !important;
}
.sec-name{
    font-size: 40px !important;
}
.sec-year{
    font-size: 20px;
}
}



@media (max-width:782px) {
    .sidebar{
        height: auto !important;
    }
     .linkedin-img{
        height: 170px
    }
    .about-me-content{
        font-size: 20px;
    }
    .name{
        font-size: 20px;
    }
    .name-info-1 h3{
        font-size: 15px !important;
    }
    .year-info-1{
        font-size: 10px;
    }
    .avatar-box{
        width: 150px !important;
        height: 150px;
    }
    .newcol{
        display:block !important;
    }
    .sec-name{
        font-size: 30px !important;
    }
    .sec-year{
        font-size: 18px;
    }
}
@media (max-width:650px) {
    .sidebar{
      height: auto !important;
     
    }
    .linkedin-img{
        height: 170px
    }
    .about-me-content{
        font-size: 13px;
    }
    .details-info{
        font-size: 20px;
    }
    .dn{
        display: none !important;
    }
    .avatar-box{
        width: 100px !important;
        height: 100px;
    }
    .sidebar{
        height: 30vh;
    }
    .sec-name{
        font-size: 25px !important;
    }
    .sec-year{
        font-size: 14px;
    }
   
}
@media (max-width:450px) {
    .sidebar{
    height: auto !important;    }
    .year-info{
        font-size:10px;
    }
    .details-info{
        font-size: 12px;
    }
    .dn{
        display: none !important;
    }
    name-info-1 h4{
    
        font-size: 10px;
      
    }
    .sec-name{
        font-size: 22px !important;
    }
    .sec-year{
        font-size: 10px;
    }
}



/*  */





.newcol{
    display:none;
}



.sec-year{
    border-radius:5px;
    background-color: var(--dark);
    box-shadow:var(--shadow-1);
}
.sec-year{
    width: fit-content;
    border-radius: 10px;
    padding: 3px;
    margin: auto !important;
}
